body {
	padding-top: 90px;
}

.navbar-brand {
	font-size: 2.5rem;
}

.bg-light-blue {
	background-color: #527ad2 !important;
}

.bg-blue {
	background-color: #527ad2 !important;
}

.bg-dark-blue {
	background-color: #293d69 !important;
}