@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

body {
	padding-top: 90px;
	font-family: 'Poppins', sans-serif;
}

.navbar-brand {
	font-size: 40px;
	font-weight: 800;
}

.bg-light-blue {
	background-color: #527ad2 !important;
}

.bg-blue {
	background-color: #527ad2 !important;
}

.bg-dark-blue {
	background-color: #293d69 !important;
}

.hide {
	opacity: 0;
	transition: all 0.5s;
}

#arrow-up {
	float: right;
	transition: all 0.5s;
}
#arrow-up img {
	display: scroll;
	position: fixed;
	bottom: 15px;
	right:15px;
	height: 30px;
	cursor: pointer;
}

@media (max-width: 768px) {
	body {
		padding-top: 70px;
	}
	
	.navbar-brand {
		font-size: 30px;
	}

	.form-home .row div{
		margin-bottom: 15px;
	}

	#btn-request {
		margin: 0 auto;
	}
}

@media (min-width: 768px) {
	#formulario {
		position: absolute;
		top: -90px;
	}
}