@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

body {
	padding-top: 90px;
	font-family: 'Poppins', sans-serif;
}

.navbar-brand {
	font-size: 40px;
	font-weight: 800;
}

.bg-light-blue {
	background-color: #527ad2 !important;
}

.bg-blue {
	background-color: #527ad2 !important;
}

.bg-dark-blue {
	background-color: #293d69 !important;
}

@media (max-width: 768px) {
	body {
		padding-top: 70px;
	}
	
	.navbar-brand {
		font-size: 30px;
	}

}
@media (max-width: 992px) {
	.position-not-lg-relative {
		position: relative;
	}
}

@media (min-width: 768px) {
	#material {
		position: absolute;
		top: -90px;
	}
}