@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

body {
	padding-top: 90px;
	font-family: 'Poppins', sans-serif;
}

.navbar-brand {
	font-size: 40px;
	font-weight: 800;
}

.bg-light-blue {
	background-color: #527ad2 !important;
}

.bg-blue {
	background-color: #527ad2 !important;
}

.bg-dark-blue {
	background-color: #293d69 !important;
}

.content {
	display: flex;
}

.hidden {
	display: none;
}

.footer-sociais {
	text-align: center;
}

.footer-sociais a {
	cursor: pointer;
}

.footer-sociais img {
	height: 40px;
	margin: 10px 15px;
}

@media (max-width: 600px) {
	.content .col-md-4 {
		order: 2
	}

	.footer-sociais img {
		height: 30px;
		margin: 10px;
	}
}
