@import url('https://fonts.googleapis.com/css?family=Poppins:400,800');

body {
	padding-top: 90px;
	font-family: 'Poppins', sans-serif;
}

.navbar-brand {
	font-size: 40px;
	font-weight: 800;
}

.bg-light-blue {
	background-color: #527ad2 !important;
}

.bg-blue {
	background-color: #527ad2 !important;
}

.bg-dark-blue {
	background-color: #293d69 !important;
}

.content {
	display: flex;
}

.hidden {
	display: none;
}

@media (max-width: 600px) {
	.content .col-md-4 {
		order: 2
	}
}
